:host {
	padding: 8px 32px;
	background-color: #323232;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	.logo {
		margin: 0 16px;
		max-width: 200px;
	}

	.buttons {
		display: flex;
		flex-flow: row nowrap;

		button {
			padding: 16px;
			font-size: 20px;
			border: none;
			background-color: #323232;
			color: white;
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover {
				background-color: white;
				color: #323232;
			}
		}
	}
}
